[Unit]
Description=Inverter monitor
Wants=network.target

[Service]
LoadCredentialEncrypted=thingspeak-key:/etc/inverter-monitor/thingspeak-key

Type=simple
Restart=always
RestartSec=60
User=pi

ExecStart=/home/pi/dotfiles/nix-utils/result/bin/node-unsafe /home/pi/esp/logger.ts

[Install]
WantedBy=multi-user.target
