[Unit]
Description=Remote control
Wants=network.target

[Service]
LoadCredentialEncrypted=remote-control-token:/etc/remote-control/remote-control-token
LoadCredentialEncrypted=remote-control-chat_id:/etc/remote-control/remote-control-chat_id

Type=simple
RuntimeMaxSec=24h
RuntimeRandomizedExtraSec=4h
Restart=always
RestartSec=60
User=pi

ExecStart=/home/pi/dotfiles/nix-utils/result/bin/node-unsafe /home/pi/esp/remote_control.ts

[Install]
WantedBy=multi-user.target
